name: Generate Snake Animation
on:
  schedule:
    - cron: "0 */12 * * *" # Runs twice a day
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Create output branch if it doesn't exist
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin
          if ! git ls-remote --heads origin output | grep output; then
            echo "Output branch doesn't exist, creating it..."
            git checkout --orphan output
            git rm -rf .
            git commit --allow-empty -m "initial output commit"
            git push origin output
            git checkout ${{ github.ref_name }}
          else
            echo "Output branch already exists"
          fi

      - name: Generate snake animation
        uses: Platane/snk@v3
        with:
          github_user_name: "Atharva2093"
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push updated snake graph
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
